<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- SQL -->
<mapper namespace="global.sesoc.project.matching.DAO.Matching_likeMapper">

	<!-- 좋아요 중복체크 -->
	<select id="matching_like_check" parameterType="mclike" resultType="mclike">
		select * from matching_like where id like #{id} and boardnum like #{boardnum}
	</select>
 	<!-- 좋아요 -->
	<insert id="matching_like" parameterType="mclike">
		insert into matching_like
			(matching_like_num, id, title, boardnum, tripArea)
		values
			(matching_like_seq.nextval, #{id}, #{title}, #{boardnum}, #{tripArea})
	</insert>
	

	
	

	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>