<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="global.sesoc.project.user.VO.LoginVO" alias="Member" />
		<typeAlias type="global.sesoc.project.mallVO.CategoryVO" alias="Category" />
		<typeAlias type="global.sesoc.project.mallVO.GoodsVO" alias="Goods" />
		<typeAlias type="global.sesoc.project.mallVO.CartVO" alias="Cart" />
		<typeAlias type="global.sesoc.project.mallVO.ReplyVO" alias="Reply" />
			
		<typeAlias type="global.sesoc.project.ti.VO.Trip_likeVO" alias="trip_like" />
		
		<typeAlias type="global.sesoc.project.matching.VO.MC_BoardVO" alias="mcb" />
		<typeAlias type="global.sesoc.project.matching.VO.MC_ReplyVO" alias="mcr" />
		
		
		
	</typeAliases>
	<mappers>
	<mapper resource="loginMapper.xml" />
	<mapper resource="usedMapper.xml" />
	<mapper resource="travel_infoMapper.xml" />
	<mapper resource="mc_boardMapper.xml" />
	</mappers>
</configuration>
