<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="global.sesoc.project.mallDAO.UsedMapper">

<!-- category call -->
<select id = "category" resultType = "Category">
select level, cateName, cateCode, cateCodeRef from goods_category
start with cateCodeRef is null connect by prior cateCode = cateCodeRef
</select>

<insert id = "register" parameterType = "Goods">
insert into tbl_goods
(
gdsNum
, gdsName
, cateCode
, gdsPrice
, gdsStock
, gdsDes
, userId
<!-- , gdsImg
, gdsThumbImg -->
<if test="gdsOriginalfile != null and gdsSavedfile != null">
			, gdsOriginalfile
			, gdsSavedfile
</if>
)
values
(
tbl_goods_seq.nextval
, #{gdsName}
, #{cateCode}
, #{gdsPrice}
, #{gdsStock}
, #{gdsDes}
, #{userId}
<!-- , #{gdsImg}
, #{gdsThumbImg} -->

<if test="gdsOriginalfile != null and gdsSavedfile != null">
			, #{gdsOriginalfile}
			, #{gdsSavedfile}
</if>
)
</insert>

<select id="usedList" resultType = "Goods">
select gdsNum, gdsName, cateCode, gdsPrice, gdsStock, gdsDes, gdsImg, gdsDate, gdsSavedfile
from tbl_goods
order by gdsNum desc
</select>

<select id = "usedView" resultType = "Goods" parameterType = "int">
select*from tbl_goods
where gdsNum=#{gdsNum}
</select>

<select id = "usedCategory" parameterType = "int" resultType = "Goods">
select
    g.gdsNum, g.gdsName, g.cateCode, c.cateCodeRef, c.cateName, gdsPrice, 
    gdsStock, gdsDes, gdsSavedfile, gdsDate, g.gdsSavedfile
        from tbl_goods g
            inner join goods_category c
                on g.cateCode = c.cateCode           
            where g.cateCode = #{cateCode }

</select>

<!-- 카트 -->
<insert id = "addCart" parameterType = "Cart">
insert into tbl_cart(cartNum, userId, gdsNum, cartStock)
values (tbl_cart_seq.nextval, #{userId}, #{gdsNum}, #{cartStock})
</insert>

<!-- 카트 리스트 -->
<select id="cartList" resultType="Cart" parameterType = "String">
 select
     row_number() over(order by c.cartNum desc) as num,
     c.cartNum, c.userId, c.gdsNum, c.cartStock, c.addDate,
     g.gdsName, g.gdsPrice, g.gdsSavedfile
 from tbl_cart c
     inner join tbl_goods g
         on c.gdsNum = g.gdsNum   
     where c.userId = #{userId}
</select>

<!-- 카트 삭제 -->
<delete id="deleteCart" parameterType = "Cart">
 delete tbl_cart
     where cartNum = #{cartNum}
         and userId = #{userId}
</delete>

<!-- 리플달기 -->
<insert id="registerReply" parameterType = "Reply">
	insert into tbl_reply(gdsNum, userId, repNum, repCon)
		values(#{gdsNum}, #{userId}, tbl_reply_seq.nextval, #{repCon})
</insert>

<!-- 리플 출력 -->
<select id = "replyList" parameterType = "int" resultType = "Reply">
	select*from tbl_reply
	where gdsNum = #{gdsNum}
	order by gdsNum desc

</select>


<delete id="replyDelete" parameterType="int">
		delete 
			from 
				tbl_reply
			where
				repNum = #{repNum}
			
						
	</delete>
	
	
<!-- <select id="replyUserIdCheck" resultType="String">
 select userId
  from tbl_reply
      where repNum = #{repNum}
</select> -->
	
<!-- 리플 수정하기 -->
	<update id="replyEdit" parameterType="Reply">
		update tbl_reply set repcon = #{repcon} where repnum = #{repnum}
	</update>
<!-- 글삭제 -->
	<delete id="usedDelete" parameterType = "int">
		delete tbl_goods
		where
		gdsNum = #{gdsNum}
	</delete>
	
<!-- 수정할 글 정보 -->
	<select id="modifyInfo" parameterType = "int" resultType = "Goods">
		select*from tbl_goods where gdsNum = #{gdsNum}
	
	</select>
	
	<update id="modify" parameterType = "Goods">
		update tbl_goods 
		set
		gdsName = #{gdsName},
         cateCode = #{cateCode},
         gdsPrice = #{gdsPrice},
         gdsStock = #{gdsStock},
         gdsDes = #{gdsDes},
         gdsSavedfile = #{gdsSavedfile}
     	where
     	 gdsNum = ${gdsNum} 
	</update>
	
	<select id = "myArticle" parameterType = "String" resultType = "Goods">
		select g.gdsNum, g.cateCode, g.gdsName, g.gdsSavedfile, (select count(*) from tbl_reply r where g.gdsNum = r.gdsNum)as replyCount
		from tbl_goods g
		where userId = #{userId}
	
	</select>
	
	


</mapper>